<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 08.03.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Some random things about my day to day life</p>
        </div>

        <div>
            <p>published: 09.03.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Something more random</p>
        </div>
    </body>
</html>